<form action="/payment" method="POST">
    <input type="text" name="order_id" placeholder="order_id">
    <input type="text" name="phone_number" placeholder="phone_number">
    <input type="number" name="payment_amount" placeholder="payment_amount">
    <input type="text" name="payment_concept" placeholder="payment_concept">
    <input type="text" name="business_name" placeholder="business_name">
    <input type="text" name="business_logo_url" placeholder="business_logo_url">
    <button type="submit"> GUARDAR </button>
</form>